body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#quiz-container {
    position: absolute;
    top: 35%;
    left: 36%;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 5px 5px 30px 5px rgb(151, 149, 149);
}

#question-container {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

#options-container {
    width: 100%;
    /* padding-left: 18%; */
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    /* align-items: center; */
    justify-content: center;
}

.option {
    padding: 4px 8px;
    border-radius: 5px;
    margin: 5px;
}

#next-button {
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result-container {
    margin-top: 20px;
    font-size: 18px;
}
